{% extends "base.html" %}
{% block title %}천지행공에 관하여{% endblock%}
{% block content %}

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">
          <h2 class="mt-3">몸의 줄기 척추를 튼튼하게</h2>
          <p>산과 언덕은 기운이 다르다. 산은 줄기와 맥(脈)을 지니고 있지만 언덕엔 줄기와 맥의 기운이 없다.
            인간의 몸은 언덕이 아니라 산이다. 척추라는 줄기를 지니고 있다. 인간의 모든 것은 척추를 둘러싸기 위한
            전주곡일 뿐이다. 태아가 어머니 뱃속에서 자랄 때 가장 먼저 형성되는 것이 척추 속에 들어 있는 척수이다. 천지행공의 꽃은 몸의 줄기인 척추를 튼튼하게 하는 것이다.</p>
        </div>
        <div class="col-md-3">
          <div class="d-flex justify-content-center">
            <img src="/static/img/wastebend.jpg" alt="" class="img-fluid rounded d-block mt-2 mb-1" style="height:300px;">
        </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
